In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/DependerKumarSoni/Naive-Bayes/main/adult.csv", header=None)

In [3]:
data.head()

   0                  1       2           3   ...  11  12              13      14
0  39          State-gov   77516   Bachelors  ...   0  40   United-States   <=50K
1  50   Self-emp-not-inc   83311   Bachelors  ...   0  13   United-States   <=50K
2  38            Private  215646     HS-grad  ...   0  40   United-States   <=50K
3  53            Private  234721        11th  ...   0  40   United-States   <=50K
4  28            Private  338409   Bachelors  ...   0  40            Cuba   <=50K

[5 rows x 15 columns]

In [4]:
data.shape

(32561, 15)

In [5]:
col_names = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation', 'relationship',
             'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'income']

data.columns = col_names

data.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income'],
      dtype='object')

In [6]:
data.head()

   age          workclass  fnlwgt  ... hours_per_week  native_country  income
0   39          State-gov   77516  ...             40   United-States   <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States   <=50K
2   38            Private  215646  ...             40   United-States   <=50K
3   53            Private  234721  ...             40   United-States   <=50K
4   28            Private  338409  ...             40            Cuba   <=50K

[5 rows x 15 columns]

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [8]:
data.income.value_counts()

 <=50K    24720
 >50K      7841
Name: income, dtype: int64

In [9]:
# Check for missing variables in categorical data
data.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [10]:
# Now we are checking variables in workclass label
data.workclass.unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [11]:
# Checking frequency distribution of values in workclass
data.workclass.value_counts()

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64

In [12]:
# replacing '?' vlues in workclass variable with 'NaN'
data['workclass'].replace(' ?', np.NaN, inplace=True)

In [13]:
# Checking variables in native_country. 
data.native_country.unique()

array([' United-States', ' Cuba', ' Jamaica', ' India', ' ?', ' Mexico',
       ' South', ' Puerto-Rico', ' Honduras', ' England', ' Canada',
       ' Germany', ' Iran', ' Philippines', ' Italy', ' Poland',
       ' Columbia', ' Cambodia', ' Thailand', ' Ecuador', ' Laos',
       ' Taiwan', ' Haiti', ' Portugal', ' Dominican-Republic',
       ' El-Salvador', ' France', ' Guatemala', ' China', ' Japan',
       ' Yugoslavia', ' Peru', ' Outlying-US(Guam-USVI-etc)', ' Scotland',
       ' Trinadad&Tobago', ' Greece', ' Nicaragua', ' Vietnam', ' Hong',
       ' Ireland', ' Hungary', ' Holand-Netherlands'], dtype=object)

In [14]:
# Checking frequency Distribution of native_country variable.
data.native_country.value_counts()

 United-States                 29170
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 France                           29
 Greece                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Hungary                          13
 Honduras                         13
 Scotland                         12
 Holand-Netherlands                1
Name: native_country, dtype: int64

In [15]:
# # replacing '?' vlues in native_country variable with 'NaN'
data['native_country'].replace(' ?', np.NaN, inplace=True)

In [16]:
# Checking variables in occupatino variable. 
data.occupation.unique()

array([' Adm-clerical', ' Exec-managerial', ' Handlers-cleaners',
       ' Prof-specialty', ' Other-service', ' Sales', ' Craft-repair',
       ' Transport-moving', ' Farming-fishing', ' Machine-op-inspct',
       ' Tech-support', ' ?', ' Protective-serv', ' Armed-Forces',
       ' Priv-house-serv'], dtype=object)

In [17]:
# Checking frequency Distribution of native_country variable.
data.occupation.value_counts()

 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 ?                    1843
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: occupation, dtype: int64

In [18]:
# # replacing '?' vlues in native_country variable with 'NaN'
data['occupation'].replace(' ?', np.NaN, inplace=True)

In [19]:
data.occupation.unique()

array([' Adm-clerical', ' Exec-managerial', ' Handlers-cleaners',
       ' Prof-specialty', ' Other-service', ' Sales', ' Craft-repair',
       ' Transport-moving', ' Farming-fishing', ' Machine-op-inspct',
       ' Tech-support', nan, ' Protective-serv', ' Armed-Forces',
       ' Priv-house-serv'], dtype=object)

In [20]:
# Time to declare Feature Vector and Target Variable.
X = data.drop(['income'], axis=1)
Y = data['income']

In [21]:
X=pd.get_dummies(X, drop_first=True)

In [22]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 97 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   age                                         32561 non-null  int64
 1   fnlwgt                                      32561 non-null  int64
 2   education_num                               32561 non-null  int64
 3   capital_gain                                32561 non-null  int64
 4   capital_loss                                32561 non-null  int64
 5   hours_per_week                              32561 non-null  int64
 6   workclass_ Local-gov                        32561 non-null  uint8
 7   workclass_ Never-worked                     32561 non-null  uint8
 8   workclass_ Private                          32561 non-null  uint8
 9   workclass_ Self-emp-inc                     32561 non-null  uint8
 10  workclass_ Self-emp-not-inc                 32561 non-null  uint8
 11  workclass_ State-gov                        32561 non-null  uint8
 12  workclass_ Without-pay                      32561 non-null  uint8
 13  education_ 11th                             32561 non-null  uint8
 14  education_ 12th                             32561 non-null  uint8
 15  education_ 1st-4th                          32561 non-null  uint8
 16  education_ 5th-6th                          32561 non-null  uint8
 17  education_ 7th-8th                          32561 non-null  uint8
 18  education_ 9th                              32561 non-null  uint8
 19  education_ Assoc-acdm                       32561 non-null  uint8
 20  education_ Assoc-voc                        32561 non-null  uint8
 21  education_ Bachelors                        32561 non-null  uint8
 22  education_ Doctorate                        32561 non-null  uint8
 23  education_ HS-grad                          32561 non-null  uint8
 24  education_ Masters                          32561 non-null  uint8
 25  education_ Preschool                        32561 non-null  uint8
 26  education_ Prof-school                      32561 non-null  uint8
 27  education_ Some-college                     32561 non-null  uint8
 28  marital_status_ Married-AF-spouse           32561 non-null  uint8
 29  marital_status_ Married-civ-spouse          32561 non-null  uint8
 30  marital_status_ Married-spouse-absent       32561 non-null  uint8
 31  marital_status_ Never-married               32561 non-null  uint8
 32  marital_status_ Separated                   32561 non-null  uint8
 33  marital_status_ Widowed                     32561 non-null  uint8
 34  occupation_ Armed-Forces                    32561 non-null  uint8
 35  occupation_ Craft-repair                    32561 non-null  uint8
 36  occupation_ Exec-managerial                 32561 non-null  uint8
 37  occupation_ Farming-fishing                 32561 non-null  uint8
 38  occupation_ Handlers-cleaners               32561 non-null  uint8
 39  occupation_ Machine-op-inspct               32561 non-null  uint8
 40  occupation_ Other-service                   32561 non-null  uint8
 41  occupation_ Priv-house-serv                 32561 non-null  uint8
 42  occupation_ Prof-specialty                  32561 non-null  uint8
 43  occupation_ Protective-serv                 32561 non-null  uint8
 44  occupation_ Sales                           32561 non-null  uint8
 45  occupation_ Tech-support                    32561 non-null  uint8
 46  occupation_ Transport-moving                32561 non-null  uint8
 47  relationship_ Not-in-family                 32561 non-null  uint8
 48  relationship_ Other-relative                32561 non-null  uint8
 49  relationship_ Own-child                     32561 non-null  uint8
 50  relationship_ Unmarried                     32561 non-null  uint8
 51  relationship_ Wife                          32561 non-null  uint8
 52  race_ Asian-Pac-Islander                    32561 non-null  uint8
 53  race_ Black                                 32561 non-null  uint8
 54  race_ Other                                 32561 non-null  uint8
 55  race_ White                                 32561 non-null  uint8
 56  sex_ Male                                   32561 non-null  uint8
 57  native_country_ Canada                      32561 non-null  uint8
 58  native_country_ China                       32561 non-null  uint8
 59  native_country_ Columbia                    32561 non-null  uint8
 60  native_country_ Cuba                        32561 non-null  uint8
 61  native_country_ Dominican-Republic          32561 non-null  uint8
 62  native_country_ Ecuador                     32561 non-null  uint8
 63  native_country_ El-Salvador                 32561 non-null  uint8
 64  native_country_ England                     32561 non-null  uint8
 65  native_country_ France                      32561 non-null  uint8
 66  native_country_ Germany                     32561 non-null  uint8
 67  native_country_ Greece                      32561 non-null  uint8
 68  native_country_ Guatemala                   32561 non-null  uint8
 69  native_country_ Haiti                       32561 non-null  uint8
 70  native_country_ Holand-Netherlands          32561 non-null  uint8
 71  native_country_ Honduras                    32561 non-null  uint8
 72  native_country_ Hong                        32561 non-null  uint8
 73  native_country_ Hungary                     32561 non-null  uint8
 74  native_country_ India                       32561 non-null  uint8
 75  native_country_ Iran                        32561 non-null  uint8
 76  native_country_ Ireland                     32561 non-null  uint8
 77  native_country_ Italy                       32561 non-null  uint8
 78  native_country_ Jamaica                     32561 non-null  uint8
 79  native_country_ Japan                       32561 non-null  uint8
 80  native_country_ Laos                        32561 non-null  uint8
 81  native_country_ Mexico                      32561 non-null  uint8
 82  native_country_ Nicaragua                   32561 non-null  uint8
 83  native_country_ Outlying-US(Guam-USVI-etc)  32561 non-null  uint8
 84  native_country_ Peru                        32561 non-null  uint8
 85  native_country_ Philippines                 32561 non-null  uint8
 86  native_country_ Poland                      32561 non-null  uint8
 87  native_country_ Portugal                    32561 non-null  uint8
 88  native_country_ Puerto-Rico                 32561 non-null  uint8
 89  native_country_ Scotland                    32561 non-null  uint8
 90  native_country_ South                       32561 non-null  uint8
 91  native_country_ Taiwan                      32561 non-null  uint8
 92  native_country_ Thailand                    32561 non-null  uint8
 93  native_country_ Trinadad&Tobago             32561 non-null  uint8
 94  native_country_ United-States               32561 non-null  uint8
 95  native_country_ Vietnam                     32561 non-null  uint8
 96  native_country_ Yugoslavia                  32561 non-null  uint8
dtypes: int64(6), uint8(91)
memory usage: 4.3 MB

In [23]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=12)

In [24]:
print(len(x_train))

26048

In [25]:
print(len(y_train))

26048

In [26]:
from sklearn.naive_bayes import GaussianNB

In [27]:
GNB_Model = GaussianNB()

In [28]:
GNB_Model.fit(x_train, y_train)

GaussianNB()

In [29]:
GNB_Model.score(x_test, y_test)

0.7905727007523414

In [30]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [31]:
scaler_MMS = MinMaxScaler()
scaler_SS = StandardScaler()

In [32]:
X_MMS = scaler_MMS.fit_transform(X)
X_SS = scaler_SS.fit_transform(X)

In [33]:
xmms_train, xmms_test, y_train, y_test = train_test_split(X_MMS, Y, test_size=0.20, random_state=12)
xss_train, xss_test, y_train, y_test = train_test_split(X_SS, Y, test_size=0.20, random_state=12)

In [34]:
GNB_MMS = GaussianNB()
GNB_SS = GaussianNB()

In [35]:
GNB_MMS.fit(xmms_train,y_train)

GaussianNB()

In [36]:
GNB_SS.fit(xss_train, y_train)

GaussianNB()

In [37]:
GNB_MMS.score(xmms_test, y_test)

0.4824197758329495

In [38]:
GNB_SS.score(xss_test, y_test)

0.4005834484876401

In [39]:
from sklearn.preprocessing import RobustScaler

In [40]:
scaler = RobustScaler()

In [41]:
X_s = scaler.fit_transform(X)

In [42]:
xs_train, xs_test, y_train, y_test = train_test_split(X_s, Y, test_size=0.20, random_state=12)

In [43]:
GNB_Scaled = GaussianNB()

In [44]:
GNB_Scaled.fit(xs_train, y_train)

GaussianNB()

In [45]:
GNB_Scaled.score(xs_test, y_test)

0.8277291570704745